.container{
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content max-content;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

@media screen and (max-width: 978px) {
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    place-items: center;
  }
}