*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  /* colors */
  ---font-primary-color: #FFFFFF;
  ---font-secondary-color: #DAD8F7;
  ---font-tertiary-color: #E7E6FB;
  ---font-quaternary-color: #C2BFF4;
  /* background color*/
  ---background-color: #6D67D0;

  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}
body{
  width: 100%;
  height: 100vh;
  background-color: var(---background-color);
}
#root{
  width: 100%;
  height: 100%;
  background: url(./assets/Background.png) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1160px ) {
    :root{
      font-size: 50%;
    }
}

@media screen and (max-width:978px) {
  #root{
    padding: 5rem;
  }
}

@media screen and (max-width: 476px){
  :root{
    font-size: 37.5%;
  }

}
@media screen and (max-width: 388px){
  #root{
    height: auto;
  }
}
